@using Microsoft.CodeAnalysis.CSharp.Syntax
@model List<UsersPost>



@{
    ViewData["Title"] = "GetUserData";
}

<h1>Posts</h1>


<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">UserId</th>
            <th scope="col">Comments</th>

        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Body</td>
                <td>@item.Title</td>
                <td>@item.UserId</td>


                <td><button data-target="#loginModal" data-toggle="modal" data-id="@item.Id" class="loadComment">Comments</button></td>

            </tr>

        }


    </tbody>
</table>



<div class="modal fade" tabindex="-1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Modal</h3>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>

            </div>
            <div class="modal-body">
                <table class="table" id="commentList">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">PostId</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Body</th>


                    </tr>
                    </thead>

                    <tbody>




                    </tbody>
                </table>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".loadComment").click(function () {
                var id = $(this).data("id");
                console.log(id);
                $.ajax({
                    url: 'https://jsonplaceholder.typicode.com/comments?postId='+id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var event_data = '';
                        $.each(data, function(index, value){
                            /*console.log(value);*/
                            event_data += '<tr>';
                            event_data += '<td>' + value.id+'</td>';
                            event_data += '<td>' + value.postId + '</td>';
                            event_data += '<td>' + value.name + '</td>';
                            event_data += '<td>' + value.email + '</td>';
                            event_data += '<td>' + value.body+'</td>';
                            event_data += '</tr>';
                        });
                        console.log(event_data);
                        $("#commentList tr").remove();
                        $("#commentList").append(event_data);
                        $("#loginModal").toggleClass("loadComment");
                    },
                    error: function (error) {
                        console.log('Error in Operation');
                    }
                });
            });
        });
    </script> 
}
  